@using FiskePriser.Models
@model FiskePriser.Models.Trip

<table id="controls">
    <tr>
        <th>Navn</th>
        <th>Sort</th>
        <th>Mængde (kg)</th>
    </tr>
    @Html.HiddenFor(model => model.TurTime)
    @foreach (var item in Model.Fangst)
    {
        <tr>
            <td>@item.Arters.Navn</td>
            <td>@item.Sort</td>
            <td>@item.Amount</td>
        </tr>
    }
</table>

